//
@use 'bootstrap';

body{
    background-color: #eacfdc;
}

#create:hover{
    color: gold;
    background-color: purple;
    transform: scale(1.2);
}

.btn-purple{
    background-color: purple;
    color: white;
}

